<p>Dat Nederland twaalf provincies telt, mag geen verrassing zijn. Maar vaak blijkt dat men niet weet wat er nu te beleven valt in al die provincies. Waarom zou je nu naar Drenthe, Zeeland of Limburg willen? En is Noord-Brabant nu echt alleen tijdens Carnaval een levendige provincie? Wij proberen hier af te komen van alle vooroordelen en het mooiste uit elke provincie te laten zien!</p>
<h2>Hoe zat het ook alweer</h2>
<p>De meeste provincies in Nederland en België vormen de voortzetting van de autonome gewesten uit de federatieve Republiek der Zeven Verenigde Nederlanden.</p>
<p>In 1815 werden de Noord- en Zuid-Nederlandse provincies samengevoegd tot het Verenigd Koninkrijk der Nederlanden. Na de Belgische Revolutie in 1830 scheidden de Zuid-Nederlandse provincies zich af. In het geval van de provincie Limburg kreeg Nederland alleen het oostelijke deel toegewezen.</p>
<p>In 1840 werd het gewest Holland gesplitst in een noordelijk en zuidelijk deel. Sindsdien spreken wij van de provincies <strong>Zuid-Holland</strong> en <strong>Noord-Holland</strong>. Informeel was er al langer sprake van een noordelijk en zuidelijk bestuur voor de splitsing.</p>
<h2>Jongste provincie</h2>
<p>Door het droogleggen van het IJsselmeer (de voormalige Zuiderzee) ontstond er nieuwe landbouwgrond. Deze grond zou in 1986 de nieuwe provincie <strong>Flevoland</strong> gaan heten.</p>
<h2>Kies je provincie</h2>
<p>Kies uit de onderstaande lijst een van de 12 provincies om meer te weten te komen over een provincie die je nog niet zo goed kent, maar misschien ook wel om te zien waarom jouw eigen provincie zo gaaf is!</p>
<p>
<center>
    {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}
</center>
    <ol>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'zuid-holland'}) }}">Zuid-Holland</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'noord-holland'}) }}">Noord-Holland</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'Limburg'}) }}">Limburg</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'zeeland'}) }}">Zeeland</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'groningen'}) }}">Groningen</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'gelderland'}) }}">Gelderland</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'overijsel'}) }}">Overijsel</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'utrecht'}) }}">Utrecht</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'friesland'}) }}">Friesland</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'flevoland'}) }}">Flevoland</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'noord-brabant'}) }}">Noord-Brabant</a></li>
        <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'drenthe'}) }}">Drenthe</a></li>
    </ol>
<center>
    {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}
</center>
</p>