<ul class="list-unstyled list-inline">
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'zuid-holland'}) }}">Zuid Holland</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'noord-holland'}) }}">Noord Holland</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'Limburg'}) }}">Limburg</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'zeeland'}) }}">Zeeland</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'groningen'}) }}">Groningen</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'gelderland'}) }}">Gelderland</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'overijsel'}) }}">Overijsel</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'utrecht'}) }}">Utrecht</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'friesland'}) }}">Friesland</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'flevoland'}) }}">Flevoland</a></li>
    <li><a href="{{ path('stef_locatie_informatie_index_municipalities_by_province', {'provinceSlug' : 'noord-brabant'}) }}">Noord Brabant</a></li>
</ul>